P {
  background-color: orange;
}
h1{
  background-color: red;
}
ol{
  color: white;
  background-color: blue;
  border:10px solid black;
}
body{
  background-color: yellow;
}
td{
  border: 3px solid green;
}
th{
  border: 3px solid green;
}
table{
  border: 3px solid green;
}
img{
  height: 100px;
  border: 3px solid blue;
}
